
<md-sidenav-container>
  <md-sidenav #sidenav mode="side" class="app-sidenav" align="end">
    <div class="sidemenu-header">
     <img *ngIf="this.userService.currentUser && this.userService.currentUser.photoURL" [src]="this.userService.currentUser.photoURL">
     <img *ngIf="!this.userService.currentUser || !this.userService.currentUser.photoURL" src="assets/user-placeholder.png">
     <h4 *ngIf="this.userService.currentUser">
      {{ this.userService.currentUser.firstName }} {{ this.userService.currentUser.lastName }}
     </h4>
     <p *ngIf="this.userService.currentUser">
      {{ this.userService.currentUser.emailAddress }}
     </p>
     <h4 *ngIf="!this.userService.currentUser">
      User
     </h4>
     <p *ngIf="!this.userService.currentUser">
      user@email.com
     </p>
     <button (click)="profilePressed()" type="button">
       VIEW PROFILE
     </button>
    </div>
    <md-nav-list>
      <a md-list-item routerLink="/dashboard">ALL PROJECTS</a>
      <a md-list-item (click)="newPressed()">NEW PROJECT</a>
      <a md-list-item (click)="logout()">LOGOUT</a>
    </md-nav-list>
  </md-sidenav>
  <md-toolbar color="primary">
      <button md-icon-button (click)="sidenav.toggle()">
          <!-- <md-icon class="md-24" >menu</md-icon> -->
          MENU
      </button>
  </md-toolbar>
  <router-outlet></router-outlet>
</md-sidenav-container>